.songContainer {
    width: 100%;
    min-width: 350px;
}

.dropDown {
    padding: 5px;

    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
}

.songText {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
}

.warningSongText {
    background: oklch(0.314 0.128 26.655);
    margin-left: 1rem;
    padding: 2rem;
}

.placeHolderText {
    height: 100vh;
}

.voteButton {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.copyLink {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.warningSongText {
    background: oklch(0.314 0.128 26.655);
    margin-left: 1rem;
    padding: 2rem;
}

.tabContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem 0.5rem 1rem 0.5rem;

    overflow-x: auto;
}

.tab {
    border: azure 1px solid;
    padding: 5px;
    background: var(--main-button-color);
    color: white;
}

.selected {
    background: green !important;
}

.statusBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;

    width: 100%;
    padding: 5px;
    margin-top: 8px;

    border-radius: 5px;

    border: 1px white solid;
}

.warningBar {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    padding: 5px;
    border-radius: 5px;

    border: 1px white solid;
    background: #ca0d0d;
}

.triggerCheck {
    margin-right: 5px;
    padding: 1rem;
}

.spexLink {
    color: #164fea;
    text-decoration: underline;
}