.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: green;
  width: 100%;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 98vw;
  max-width: 40rem;
  margin-top: 1rem;
}

.containerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  border-top: rgb(147, 180, 0) 1px solid;
  position: relative;
}

.addButton {
  padding: 5px;
  height: 2rem;
  position: absolute;
  right: 10px;
  top: 5px;
  border-radius: 5px;
}

.containerHeader h3 {
  margin-top: 10px;
}

.synopsis {
  padding: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  padding: 1rem 1rem 0 1rem;
  width: 98vw;
  max-width: 40rem;
}

.searchBar {
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
  border: none;
  color: black;
  background: whitesmoke;
  border-radius: 10px;
}

.smallSearchBar {
  width: 5rem;
  height: 2rem;
  padding: 0.5rem;
  border: none;
  color: black;
  background: whitesmoke;
  border-radius: 10px;
}

.searchButton {
  height: 2rem;
  width: 5rem;
  border: none;
  color: black;
  background: whitesmoke;
  border-radius: 10px;
}

.burger {
  width: 100px;
  height: 100px;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

/* Define the skeleton element */
.skeleton {
  min-height: 15px;
  height: 100%;
  width: 40%;
  background: #ccc;
  overflow: hidden;
  position: relative;
}

.bigSkeleton {
  margin-top: 1rem;
  min-height: 1rem;
  height: 5rem;
  width: 40%;
  background: #ccc;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

/* Create the shimmer effect */
.skeleton::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  position: absolute;
  top: 0;
  left: -100%;
  animation: shimmer 0.5s infinite;
}

.bigSkeleton::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  position: absolute;
  top: 0;
  left: -100%;
  animation: shimmer 1s infinite;
}

/* Define the animation */
@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.saveButton {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.spexList {
  list-style: none;
  padding: 0;
  margin: 10px;
}
.song-container {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.song-container a {
  width: 100%;
}
.spexList li {
  padding: 3px;
}
.song {
  width: 100%;
  transition: all 250ms;
}
.vote-count,
.song {
  margin-left: 3px;
  padding: 5px;
  border: 1px solid #838383;
  border-radius: 3px;
}

.button {
  align-items: center;
  background-color: #008f1f;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.7rem;
  position: relative;
  transition: all 250ms;
}

#smallButton {
  padding: 0.3rem;
  margin-left: 0.5rem;
}

.button:hover,
.button:active,
.song:active,
.song:hover {
  color: #000000;
  background-color: #dbb300;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  border-color: #000000;
}
.song:hover {
  transform: translateY(-7px);
}
.button:hover {
  transform: translateY(-1px);
}
