.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: green;
  width: 100%;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  max-width: 40rem;
  border: azure 1px solid;
  margin-top: 1rem;
}

.containerHeader {
  width: 100%;
  text-align: center;
  border-bottom: azure 1px solid;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  padding: 1rem 1rem 0 1rem;
  width: 98vw;
  max-width: 40rem;
}

.searchBar {
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
  border: none;
  color: black;
  background: whitesmoke;
  border-radius: 10px;
}

.searchButton {
  height: 2rem;
  width: 5rem;
  border: none;
  color: black;
  background: whitesmoke;
  border-radius: 10px;
}

.songContainer {
  width: 100%;
  background: aqua;
}

.burger {
  width: 100px;
  height: 100px;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}