.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: green;
  width: 100%;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  max-width: 40rem;
  border: azure 1px solid;
  margin-top: 1rem;
}

.containerHeader {
  display: flex;
  justify-content: center;
  gap: 5px;

  width: 100%;
  border-bottom: azure 1px solid;
}

.synopsis {
  padding: 1rem;
}

.addButton {
  padding: 2px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  padding: 1rem 1rem 0 1rem;
  width: 98vw;
  max-width: 40rem;
}

.searchBar {
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
  border: none;
  color: black;
  background: whitesmoke;
  border-radius: 10px;
}

.searchButton {
  height: 2rem;
  width: 5rem;
  border: none;
  color: black;
  background: whitesmoke;
  border-radius: 10px;
}

.songContainer {
  width: 100%;
  background: aqua;
}

.burger {
  width: 100px;
  height: 100px;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

/* Define the skeleton element */
.skeleton {
  min-height: 15px;
  height: 100%;
  width: 40%;
  background: #ccc;
  overflow: hidden;
  position: relative;
}

.bigSkeleton {
  margin-top: 1rem;
  min-height: 1rem;
  height: 5rem;
  width: 40%;
  background: #ccc;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

/* Create the shimmer effect */
.skeleton::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
  position: absolute;
  top: 0;
  left: -100%;
  animation: shimmer 0.5s infinite;
}

.bigSkeleton::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
  position: absolute;
  top: 0;
  left: -100%;
  animation: shimmer 1s infinite;
}

/* Define the animation */
@keyframes shimmer {
  0% { left: -100%; }
  100% { left: 100%; }
}